 <!--Start Slider Area-->
  <section id="slider" class="slider-area">
    <div class="item" style="background-image: url({{content.field_background_image.0}})">
      <div class="overlay"></div>
      <div class="slide-caption">
        <div class="slider-inner">
          <h1 class="animated fadeInUpBig">{{content.field_banner_title.0}}</h1>
          <p class="animated fadeInUpBig">{{content.field_description.0}}</p>
          <a class="custom-btn animated fadeInDownBig" href="{{content.field_link.0['#url']}}">{{content.field_link.0['#title']}}</a>
        </div>
      </div>
    </div>
  </section>
  <!--End Slider Area-->
