 <!-- call-to-action -->
    <section id="call-to-action" style="background-image:url({{content.field_background_image.0}})">
        <div class="container">
            <div class="row bg">
                <div class="col-lg-8 col-md-12 wow fadeInUp" data-wow-delay="0.6s">
                  <h3>{{content.field_title.0}}</h3>
                  <p>{{content.field_description.0}}</p>
                </div>
                <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="call-to-action-btn"><a href="{{content.field_link.0['#url']}}" class="custom-btn">{{content.field_link.0['#title']}}</a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- call-to-action -->
