    <!-- About-us -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-lg-9 mx-auto text-center title-section wow fadeInUp" data-wow-delay="0.3s">
            <h2 class="title wow fadeInUp">{{content.field_title.0}}</h2>
            <p class="wow fadeInUp">{{content.field_description.0}}</p>
          </div> 
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="hovereffect">
              <img src="{{ file_url(content.field_image['#items'].entity.uri.value)}}"
                   class="img-fluid" 
                   alt="{{ content.field_image['#items'].alt }}" 
                   title="{{ content.field_image['#items'].title }}">
            </div>  
          </div>
            <div class=" col-md-12 col-lg-6 wow fadeInUp" data-wow-delay="0.9s">
              <h3>{{content.field_sub_title.0}}</h3>
              {{content.field_content.0}}
            </div>
        </div>  
      </div>
    </section>
    <!-- about part end -->
