{#
/**
 * @file
 * Default theme override for comment fields.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional title output populated by modules, intended to
 *   be displayed after the main title tag that appears in the template.
 * - comments: List of comments rendered through comment.html.twig.
 * - content_attributes: HTML attributes for the form title.
 * - comment_form: The 'Add new comment' form.
 * - comment_display_mode: Is the comments are threaded.
 * - comment_type: The comment type bundle ID for the comment field.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 * @see comment_preprocess_field()
 */
#}

    <div class="row">
        <div class="col-md-12 wow fadeInUp" data-wow-delay="0.7s">
            <div class="comment-row">
                    <h3>Comments</h3>
                	{{ comments }}
            </div>
        </div>
    </div>
{% if comment_form %}
    <div class="contact-form wow fadeInUp" data-wow-delay="0.10s">
      <div class="form-area">
        <h3>Post Comments</h3>
    		{{ comment_form }}
       </div>
    </div>
{% endif %}