

{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

  <!-- Topbar -->
    <section id="topbar" class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-7 col-lg-9">
                      <ul class="contact-info">
                            {% if company_phone_no %}
                                <li><a href="tel:{{company_phone_no}}"><i class="fa fa-phone" aria-hidden="true"></i>{{company_phone_no}}</a></li>
                            {% endif %} 
                            {% if company_email %}
                                  <li><a href="mailto:{{company_email}}"><i class="fa fa-envelope" aria-hidden="true"></i>{{company_email}}</a></li>
                            {% endif %}
                      </ul>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-5 col-lg-3">
                      <ul>
                          {% if facebook %}
                              <li><a href="{{facebook}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          {% endif %}
                          {% if twitter %}
                              <li><a href="{{twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            {% endif %}
                            {% if linkedin %}
                              <li><a href="{{linkedin}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            {% endif %}
                            {% if pinterest %}
                                <li><a href="{{pinterest}}"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            {% endif %}
                            {% if dribbble %}
                              <li><a href="{{dribbble}}"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                          {% endif %}
                      </ul>
                </div>
            </div>
        </div> <!-- end container -->
    </section> 
  <!-- end topbar -->

 <!-- Header -->
    <header>
      <nav id="menu" class="navbar navbar-expand-lg">
        <div class="container">
            {{page.logo}}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarYGCorp" aria-controls="navbarYGCorp" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
            {{page.primary_menu}}
        </nav>
    </header>
  <!-- Header End --> 

   <!--Start Slider Area-->
  <section id="slider" class="slider-area error">
    <div class="item" style="background-image: url({{banner_image}})">
      <div class="overlay"></div>
      <div class="slide-caption">
        <div class="slider-inner not-found">
          <h1 class="animated fadeInUpBig">{{page['#title']}}</h1>
        </div>
      </div>
    </div>
  </section>
  <!--End Slider Area-->

{# Main #}
<section id="not-found-section" class="text-center">
  <div class="container">               
    <div class="row"> 
      <div class="not-found-body" >
        <div class="not-title" >
          <h1>404</h1>
          <h2>Page Not Found</h2> 
        </div>  
          <h2>Sorry. We can't find a page.</h2>
          <p class="not-p">The Page you are looking for might have a removed, had its name changed, or its temporarily unavailable.</p>      
          <a href="{{front_page}}"> Go Home </a>
      </div>
    </div>          
  </div>    
</section>
{# Main #}

    <!-- footer start -->
    <footer>
        <div class="container">
            <div class="row footer-top">
                <div class="col-xl-4 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                      {{page.footer_col_1}}
                </div>
                 <div class="col-xl-2 col-lg-2 col-md-6 wow fadeInDown" data-wow-delay="0.9s">
                    <div class="pd">
                      {{page.footer_col_2}}
                    </div>
                </div>  
                <div class="col-xl-3 col-lg-4 col-md-6 contact wow fadeInUp" data-wow-delay="0.12s">
                    <h2>{{contact_header}}</h2>
                    <p><i class="fas fa-map-marker-alt"></i><span>{{company_address}}</span></p>
                    <a href="mailto:{{company_email}}"><i class="fa fa-envelope"></i>{{company_email}}</a>
                    <a href="tel:{{company_phone_no}}"><i class="fa fa-phone"></i>{{company_phone_no}}</a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 pd wow fadeInUp" data-wow-delay="0.6s">
                    <h2>{{social_title}}</h2>
                    <div class="pd">
                      <ul class="social">
                         {% if facebook %}
                              <li><a href="{{facebook}}"><i class="fa fa-facebook"></i></a></li>
                          {% endif %}
                          {% if twitter %}
                              <li><a href="{{twitter}}"><i class="fa fa-twitter"></i></a></li>
                          {% endif %}
                          {% if instagram %}
                            <li><a href="{{instagram}}"><i class="fa fa-instagram"></i></a></li>
                          {% endif %}
                          {% if youtube %}
                            <li><a href="{{youtube}}"><i class="fa fa-youtube"></i></a></li>
                          {% endif %}
                      </ul>  
                    </div>  
                </div> 
            </div>    
        </div>
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-6 mx-auto text-center copyright wow fadeInUp" data-wow-delay="0.5s"> 
                {% if copyright %}
                  {{copyright|striptags('<b>,<strong>,<p>,<a>,<pre>')|raw}}
                {% endif %}    
              </div>  
            </div>
          </div>
      </div>
    </footer>
    <!-- footer end -->

  <!-- back to top button -->
  <button class="scroll-top scroll-to-target" data-target="html">
      <span class="fa fa-long-arrow-up"></span>
  </button>